@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #cdf0ea;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0;
}

.content {
  background-color: #77acf1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 4rem;
  padding: 1rem 2rem;
}

h1 {
  color: white;
  text-shadow: 2px 2px blue;
}

p {
  margin: 0 0 1rem;
  font-size: large;
}

input {
  border-radius: 5px;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid rgb(4, 142, 197);

}


button {
  background-color: #002452;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-top: 15px;
  align-items: center;
  border: 2px solid rgb(251, 251, 252);
}

button:hover {
  box-shadow: 2px 2px wheat;
  text-shadow: 1px 1px wheat;
}

#output {
  font-weight: 900;
  margin: 1rem 0;
}

/* footer */

footer {
  position: absolute;
  bottom: 0px;
}

.copy-right {
  font-size: 0.9rem;
  color: #086ff5;
  margin: 5px;
  padding: 1rem;
}

img {
  width: 23%;
  padding-left: 5px;
}